<div class="container">
    <p>Sign up for a new account</p>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <!-- username -->
        <label>Username</label>
        <input type="text" name="username" formControlName="username" placeholder="shahrzad">
        <div *ngIf="signupForm.get('username')!.invalid && (signupForm.get('username')!.dirty || signupForm.get('username')!.touched)">
            <div class="error" *ngIf="signupForm.get('username')!.errors?.['required']">Username is required.</div>
            <div class="error" *ngIf="signupForm.get('username')!.errors?.['noWhitespace']">Username cannot contain whitespace.</div>
            <div class="error" *ngIf="false">This username is already taken</div>
        </div>
        <!-- password -->
        <label>Password</label>
        <input type="password" name="password" formControlName="password" placeholder="123456">
        <div *ngIf="signupForm.get('password')!.invalid && (signupForm.get('password')!.dirty || signupForm.get('password')!.touched)">
            <div class="error" *ngIf="signupForm.get('password')!.errors?.['noWhitespace']">Password cannot contain whitespace.</div>
            <div class="error" *ngIf="signupForm.get('password')!.errors?.['required']">Password is required.</div>
            <div class="error" *ngIf="signupForm.get('password')!.errors?.['minlength']">Password must be at least 8 characters long.</div>
            <div class="error" *ngIf="signupForm.get('password')!.errors?.['hasNumber']">Password must contain at least one number.</div>
            <div class="error" *ngIf="signupForm.get('password')!.errors?.['hasCapitalCase']">Password must contain at least one capital letter.</div>
            <div class="error" *ngIf="signupForm.get('password')!.errors?.['hasSmallCase']">Password must contain at least one small letter.</div>
            <div class="error" *ngIf="signupForm.get('password')!.errors?.['hasSpecialCharacters']">Password must contain a '.' in it.</div>
        </div>
        <!-- repeat password -->
        <label>Repeat password</label>
        <input type="password" name="confirmPassword" formControlName="confirmPassword">
        <div *ngIf="signupForm.get('confirmPassword')!.invalid && (signupForm.get('confirmPassword')!.dirty || signupForm.get('confirmPassword')!.touched)">
            <div class="error" *ngIf="signupForm.get('confirmPassword')!.errors?.['required']">Please confirm your password.</div>
        </div>
        <button [disabled]="!signupForm.valid" class="sign-btn">Sign up</button>
    </form>
</div>