<div class="container">
    <p>Sign in to your account</p>
    <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
        <!-- username -->
        <label>Username</label>
        <input type="text" name="username" formControlName="username" placeholder="shahrzad">
        <!-- password -->
        <label>Password</label>
        <input type="password" name="password" formControlName="password" placeholder="123456">
        <div class="password-error-container">
            <div *ngIf="signinForm.get('password')?.errors?.['passwordCriteria'] && (signinForm.get('password')?.dirty || signinForm.get('password')?.touched)">
                <div class="password-error show">
                    Password should have at least 8 characters, one capital letter, one small letter, one number, and one dot character.
                </div>
            </div>
        </div>
        <button class="sign-btn">Sign in</button>
    </form>
</div>
