.container{
    margin-top: 36px;

    h1, h4{
        font-family: Montserrat, sans-serif;
        font-weight: bold;
        margin: 0;
    }

    h1{
        font-size: 36px;
    }

    h4{
        font-size: 15px;
    }
}

@media  screen and (width >= 744px) {
    h1{
        padding-bottom: 21px;
        font-weight: 700;
        font-size: 64px;
    }

    h4{
        font-weight: 700px;
        font-size: 32px;
    }
}

@media screen and (width >= 1280px){
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 700px;
        margin: auto;

        h1{
            font-weight: 700;
            font-size: 64px;
        }

        h4{
            font-weight: 700;
            font-size: 32px;
        }
    }
    
}