.container {
    display: flex;
    justify-content: space-between;

    .hamburger-menu {
        display: flex;
    }

    .language {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-right: 10px;

        #en-svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
        }
    }
}