/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: Montserrat;
    src: url('/source/src/assets/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
}

html{
    height: 100%;
    margin: 0;
}

body {
    font-family: Montserrat, sans-serif;
    height: 100%;
    margin: 0;
}